<!DOCTYPE html>
<html>
<title>MKT comparison tool</title>
<link href="../main.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<body>
    
<img class="hidden" id="font-numbercolor" src="../img/fonts/numbercolor.png">
<img class="hidden" id="font-numberrodinlevel" src="../img/fonts/numberrodinlevel.png">
<img class="hidden" id="cards-driver" src="../img/cards/drivers.png">
<img class="hidden" id="cards-kart" src="../img/cards/karts.png">
<img class="hidden" id="cards-glider" src="../img/cards/gliders.png">
<img class="hidden" id="cards-items" src="../img/items/all.png">

<div id="container">

    <ul class="nav">
        <li is="nav-item" v-for="tab in ['drivers','karts','gliders']" :key="tab" :tab="tab" :active="tab == activeTab" v-on:change-tab="activeTab = tab"></li>
    </ul>
    <keep-alive>
        <component :is="currentTabComponent" v-on:cardclick="setCard($event)"></component>
    </keep-alive>
    <div id="card-editor" class="hidden" v-if="editorOpen">
        <div id="card-editor-exit" v-on:click="closeEditor()">×</div>
        <dkg-card id="card-editor-card" :card="activeCard"></dkg-card>
        <div id="card-editor-options">
            <h2>{{activeCard.item.name}}</h2>
            <input id="select-owned" type="checkbox" v-on:input="toggleOwned()" :checked="activeCard.item.level > 0">
            <label for="select-owned">Owned</label>
            <br>
            <label for="select-level" class="hide-large">Level:</label>
            <editor-select
                           id="select-level"
                           :values="levelObj" 
                           v-model="activeCard.item.level"
                           :defaultval="activeCard.item.level"
                           :disabled="activeCard.item.level == 0">
            </editor-select>
            <editor-select
                           id="select-sublevel"
                           :values="sublevelObj" 
                           v-model="activeCard.item.sublevel"
                           :defaultval="activeCard.item.sublevel"
                           :disabled="activeCard.item.level == 0 || activeCard.item.level == 6">
            </editor-select>
            <br>
            <span class="hide-large">Base points:</span>
            <editor-select
                           id="select-basepoints"
                           :values="basepointsObj"
                           v-model="activeCard.item.bplevel" 
                           :defaultval="activeCard.item.bplevel"
                           :disabled="activeCard.item.level == 0">
            </editor-select>
            <br class="hide-large">Cap:
            <editor-select
                           id="select-pointscap"
                           :values="pointscapObj"
                           v-model="activeCard.item.pointscap"
                           :defaultval="activeCard.item.pointscap"
                           :disabled="activeCard.item.level == 0">
            </editor-select>
        </div>
    </div>

</div> <!-- end container -->

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../loaddata.js"></script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>